*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
 nav{
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    div{
        display: flex;
        justify-content:right;
        margin: 1rem;
        gap: 2rem;
        a{
            color: black;
        
        }
    
    }
 }
 #upper{
    width: 100%;
    height: 90vh;
    background-color: rgba(249, 197, 26, 0.904);

}
.son1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}